.mat-column-Tratmientos{
    width: 50px !important; 
}

body{
    background-color: #480CA8;
    min-height: 100vh;
}
@media (max-width:400px){


body{
    height: 120vh;
   
}
.spacer{
    height: 225px !important;
}
}