<html>
    <div class="Dashboard">
    <div class="Spacer"></div>
    <div class="Acceso">

        <div class="card">
            <div class="header">
                <div class="img-box">
                    <div class="img-box">
                        <img src="assets/Odontologia.webp" alt="" style="height: 125px; display: flex; align-items: center; justify-content: center;">
                    </div>
                </div>
                <h1 class="title">Listado Pacientes</h1>
            </div>

            <div class="content">
                <p>
                    Listado de Pacientes Registrados
                </p>
                <div class="boton"><button>
                    <span class="text" routerLink="/pacientes">Ingresar</span>
                  </button></div>
            </div>
        </div>

        <div class="card">
            <div class="header">
                <div class="img-box">
                    <img src="assets/icon_calendar.webp" alt="" style="height: 125px; display: flex; align-items: center; justify-content: center;">
                </div>
                <h1 class="title">Calendario de Citas</h1>
            </div>

            <div class="content">
                <p>
                    Citas Programadas
                </p>
                <div class="boton"><button>
                    <span class="text" routerLink="/citas">Ingresar</span>
                  </button></div>
                
            </div>
        </div>

        <div class="card">
            <div class="header">
                <div class="img-box" style="height: 125px; display: flex; align-items: center; justify-content: center;">
                    <img src="assets/dental_prosthetics-512.webp" alt="" style="height: 100px;">
                </div>
                <h1 class="title">Pacientes</h1>
            </div>

            <div class="content">
                <p>
                    Agregar Pacientes
                </p>
                <div style="display: flex; justify-content: center; align-items: center;">
                  <button routerLink="/RegistrarPaciente">
                    <span class="text">Registrar
                    </span>
                    
                  </button ></div> </div>
            
        </div>
        
        

        <div class="card">
            <div class="header">
                <div class="img-box">
                    <img src="assets/2317929.webp" alt="" style="height: 125px;">
                </div>
                <h1 class="title">Doctores</h1>
            </div>

            <div class="content">
                <p>
                    Datos de Doctores Registrados
                </p>
                <div class="boton"  >
                    <button routerLink="/users">
                    <span class="text">Ingresar</span>
                  </button></div>
            </div>
        </div>




    </div>
</div>
</html>